<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<div data-controller="cable-from" data-cable-from-id-value="test"></div>

<div data-controller="terminal">
  <%= text_area(:code, :code, value: "print(\"2\")", data: { terminal_target: "code" }) %>
  <button data-action="click->terminal#run_script">run</button>

  <hr>

  ----STDOUT----
  <pre id="run_stdout">
  </pre> ---------------------- <br>
  <div id="stdin_status">
  </div>
  <%= text_field(:run, :stdin, disabled: true, data: { terminal_target: "stdinput" }) %>
  <button id="run_stdin_btn" data-action="click->terminal#send_input" disabled="">send input</button>
</div>
